<h2 class="page-header">Add Product</h2>
{{#if errors}}
    {{#each errors}}
      <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}
<form method="post" action="/product/add">
  <div class="form-group">
    <label >Name</label>
    <input  type="text" name="name" class="form-control" placeholder="Name">
  </div>
   <div class="form-group">
    <label>BatchNo</label>
    <input type="text" name="batchNo" class="form-control" placeholder="batchNo">
  </div>
  <div class="form-group">
    <label>ExpiryDate</label>
    <input type="text" name="expiryDate" class="form-control" placeholder="expiryDate">
  </div>
  <div class="form-group">
    <label>MRP</label>
    <input type="text" name="MRP" class="form-control" placeholder="MRP">
  </div>
  <div class="form-group">
    <label>Quantity</label>
    <input type="text" name="quantity" class="form-control" placeholder="quantity">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
